body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-stuff {
  background: rgb(31 41 55);
  color: white;
}

header {
  display: flex;
  justify-content: space-around;
}

.logo {
  font-size: larger;
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
}
