* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-container {
  background: rgb(31 41 55);
  color: white;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  gap: 125px;
}

.logo {
  font-size: large;
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.hero-stuff {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 120px;
  padding-top: 80px;
  gap: 10px;
}

.hero {
  width: 380px;
}

h1 {
  font-size: 3rem;
}

button {
  color: white;
  background: rgb(59 130 246);
  padding: 4px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.hero-image {
  width: 450px;
  height: 250px;
}
